html {
    -webkit-text-size-adjust:none;
    text-size-adjust:none;
    -webkit-text-size-adjust: 100%;
    text-size-adjust:100%;
}

@media screen and (max-width : 1024px) {
    .row {
        padding: 10px;
        margin-left: 5px;
	}

	header h1 {
		background: url("bg.jpg") left/auto 100% no-repeat, 
		url("bg.jpg") right/auto 100% no-repeat;
	}
	.root {
		font-size: larger;
	}
	img.main-image {
		width: 300рх;
	}
	img.additional-image {
		width: 180рх;
	}
}

@media screen and (max-width : 800px) {
	header h1 {
		background: url("bg.jpg") left/auto 100% no-repeat, 
		url("bg.jpg") right/auto 100% no-repeat;
	}
	.root {
		font-size: larger;
	}
	img.main-image {
		width: 300рх;
	}
	img.additional-image {
		width: 180рх;
	}
}

@media screen and (max-width : 360px) {
	header h1 {
		background: url("bg.jpg") left/auto 100% no-repeat, 
		url("bg.jpg") right/auto 100% no-repeat;
	}
	.root {
		font-size: larger;
	}
	img.main-image {
		width: 300рх;
	}
	img.additional-image {
		width: 180рх;
	}
}